.c7-container {
    padding: 4%;
    margin: 2%;
  
    border-radius: 10px;
  }
  .c7-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #02334d;
    padding: 5px;
    border-radius: 5px;
  }
  .c7-heading-style {
    color: #e4f1f7;
    font-size: 18px;
    text-align: left;
    padding: 0.1%;
    padding-top: 1%;
    padding-left: 3%;
  }
  .c7x-container {
    background-color: #e4f1f7;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: #02334d;
    border-radius: 5px;
    padding: 5px;
    margin-top: 2%;
  }
  .c7x-subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .c7x-heading-style {
    color: #02334d;
    font-size: 15px;
    text-align: left;
    padding: 0.01%;
    padding-top: 1%;
    padding-left: 3%;
  }
  .c7x-assign-button-style {
    background-color: #02334d;
    color: #e4f1f7;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 5%;
  }
  .cx-assign-button-style {
    background-color: #e4f1f7;
    color: #02334d;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 5%;
    font-weight: bold;
  }
  