.main-container {
  background-color: white;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #02334d;
  border-radius: 10px;
}
.main-heading-style {
  color: white;
  background-color: #02334d;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px;
}
.eachTable-container{
  display: flex;
  flex-direction: column;
  border-color: #cce1eb;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 3%;
  margin: 2%;
}
label{
  color:black;
  font-weight: bold;
}
table,
th,
td {
  border: 2px solid #9db4bf;
  
}

th{
  color:black;
  font-size: 15px;
}

.BI-table1-headings{
  width: 30%;
}
.Gender{
  border-width: 0px;
}
input{
  width:100%;
}
.t2-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.t2-button-style {
  background-color: #02334d;
  color: #e4f1f7;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 5%;
  height:40px;
  width:120px;
  margin-top:10%;
  border-width: 0px;
}
/* .radio-style{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: flex-start;
} */