.c41-inputFields-mainContainer {
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 1.5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .c41x-eachInputField-container {
    display: flex;
    flex-direction: column;
    border-color: #02334d; 
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 3%;
    margin: 2%;
  }
  .c41x-weightage-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1%;
  }
  .c41x-weightage-heading-style {
    color: black;
    font-weight: bold;
  }
  .c41x-span-style {
    font-weight: bold;
  }
  .c41x-colorIndicator-container {
    display: flex;
    flex-direction: row;
  }
  .c41x-QlcolorIndicator-circle-style {
    background-color: #bad9c4;
    border-radius: 5px;
    padding: 1.3%;
    border-radius: 40px;
    margin-left: 2%;
  }
  .c41x-QtcolorIndicator-circle-style {
    background-color: #cce1eb;
    border-radius: 5px;
    padding: 1.3%;
    border-radius: 40px;
    margin-left: 2%;
  }
  .c41x-colorIndicator-span-style {
    color: black;
    font-weight: bold;
    font-size: 13px;
  }
  .c41x-heading_Help-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .c41x-helpButton-style {
    color: #02334d;
    width: 1%;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .c41xx-span-style {
    font-weight: 700;
  }
  .c41x-heading-style {
    font-size: medium;
    font-weight: 600;
    color: black;
  }
  .c41x-label-style {
    font-size: 15px;
    font-weight: 600;
    color: black;
  }
  .c41x-input-style {
    width: 100%;
  }
  .c41x-Ql-label-textarea-container {
    display: flex;
    flex-direction: column;
    background-color: #bad9c4;
    border-radius: 10px;
    padding: 3%;
  }
  
  .c41x-container {
    display: flex;
    flex-direction: column;
    background-color: #cce1eb;
    border-radius: 10px;
    padding: 2.5%;
    padding-bottom: 1%;
  }
  .c41xx-container {
    border-color: #cce1eb;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 2%;
    padding: 3%;
  }
  .c41xx-Heading-style {
    color: black;
    font-size: 15px;
    font-weight: 600;
  }
  .c41xx-label-textInput-container {
    display: flex;
    flex-direction: row;
  }
  .c41x-textarea-style {
    width: 100%;
    border-radius: 5px;
  }
  table,
  th,
  td {
    border: 2px solid #9db4bf;
  }
  .c41x-Ql-table-style {
    padding: 2%;
    border: 2.1px solid #799c85;
  }
  .c41x-Qt-table-style {
    padding: 2%;
  }
  
  .c41x-Ql-tableBorders-style {
    border: 2px solid #799c85;
  }
  
  .c41x-Ql-verticalTable-heading1-style {
    background-color: #bad9c4;
    width: 40%;
    color: black;
    border: 2px solid #799c85;
  }
  .c41x-Qt-verticalTable-heading1-style {
    background-color: #cce1eb;
    width: 40%;
    color: black;
  }
  .c41x-Ql-verticalTable-heading2-style {
    background-color: #bad9c4;
    width: 20%;
    color: black;
    border: 2px solid #799c85;
  }
  .c41x-Qt-verticalTable-heading2-style {
    background-color: #cce1eb;
    width: 20%;
    color: black;
  }
  .c41x-Ql-verticalTable-heading3-style {
    background-color: #bad9c4;
    width: 25%;
    color: black;
    border: 2px solid #799c85;
  }
  .c41x-Qt-verticalTable-heading3-style {
    background-color: #cce1eb;
    width: 25%;
    color: black;
  }
  .c41x-Ql-verticalTable-heading4-style {
    background-color: #bad9c4;
    width: 15%;
    color: black;
    border: 2px solid #799c85;
  }
  .c41x-Qt-verticalTable-heading4-style {
    background-color: #cce1eb;
    width: 15%;
    color: black;
  }
  .c41x-horizontalTable-heading-style {
    color: black;
    width: 25%;
  }
  th {
    font-weight: bold;
  }
  td {
    font-weight: 600;
  }
  .c41x-button-container {
    display: flex;
    justify-content: flex-end;
  }
  .c41x-button-style {
    background-color: #02334d;
    color: #cce1eb;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 5%;
  }
  .c41x-response-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1%;
  }
  .c41x-responseButton-style {
    color: #02334d;
    background-color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 1.6%;
    margin-top: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .c41x-responseResult-style {
    color: #02334d;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #9db4bf;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3%;
    padding: 1%;
    margin-bottom: 0;
  }
  
  .c41x-help-mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .c41x-help-subContainer {
    position: relative;
    border-radius: 10px;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .c41x-help-heading-style {
    color: black;
    font-weight: bold;
  }
  .c41x-help-para-style {
    color: black;
    font-weight: normal;
  }
  .c41x-help-closeButton-style {
    background-color: #02334d;
    border-radius: 5px;
    color: #fff;
    margin: 15px;
  }
  .c41-fileButton-style {
    color: black;
    font-size: 13px;
    font-weight: 550;
  }
  ::-webkit-file-upload-button {
    color: black;
    background-color: #d7d7d9;
    border-width: 0;
    border-radius: 5px;
    padding: 4%;
    font-weight: bold;
    font-size: 15px;
  }
  .c41-fileButtons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
  }
  .c41-viewFileButton-style {
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 5%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .c41-removeFileButton-style {
    color: black;
    font-size: 12px;
    padding: 5%;
    font-weight: bold;
    background-color: lightcoral;
    border-radius: 3px;
    margin-left: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .c41-fileButton-style {
    color: black;
    font-size: 13px;
    font-weight: 550;
  }
  ::-webkit-file-upload-button {
    color: black;
    background-color: #d7d7d9;
    border-width: 0;
    border-radius: 5px;
    padding: 4%;
    font-weight: bold;
    font-size: 15px;
  }
  .c41-fileButtons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
  }
  .c41-viewFileButton-style {
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 5%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .c41-removeFileButton-style {
    color: black;
    font-size: 12px;
    padding: 5%;
    font-weight: bold;
    background-color: lightcoral;
    border-radius: 3px;
    margin-left: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  