.main-container {
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #02334d;
  border-radius: 10px;
}
.main-heading-style {
  color: white;
  background-color: #02334d;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px;
}
.academic-font{
  font-size: 10px;
}
.c11x-button-container {
  display: flex;
  justify-content: flex-end;
}
.c11x-button-style {
  background-color: #02334d;
  color: #cce1eb;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 5%;
}
element.style th,td{
  padding: 0.7em;
  padding-left: 1em;

}
