.App {
  text-align: center;
  margin-top: 10px;
}
.data-submitted{
  font-weight: bold;
}
.institute-name{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.institute-name-space{
  margin-right: 10px;
}

.main-app-container{
  margin: 20px;
}

#headings{
  font-weight: bold;
}
#button{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
