.percentageoffulltime-container {
  background-color: white;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #02334d;
  border-radius: 10px;
}
.percentageoffulltime-heading-style {
  color: white;
  background-color: #02334d;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px;
}
.percentageoffulltime-eachTable-container {
  background-color: white;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #02334d;
  border-radius: 10px;
}

.phd-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.phd-button-style {
  background-color: #02334d;
  color: #e4f1f7;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 5%;
  margin-bottom: 3%;
  height: 40px;
  width: 120px;

  border-width: 0px;
}
