.executive-main-container {
  background-color: white;
  margin: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #02334d;
  border-radius: 10px;
  padding: 30px;
}
.executive-main-heading-style {
  color: white;
  background-color: #02334d;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 10px;
}
.executive-eachTable-container {
  display: flex;
  flex-direction: column;
  border-color: #368ca3;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 3%;
  margin: 2%;
  font-weight: 600;
  /* height: 50vh; */
  overflow: auto;
}
p {
  font-weight: bold;
}
.executive-es-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 0px;
}
.executive-es-button-style {
  background-color: #02334d;
  color: #e4f1f7;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 5%;
  height: 40px;
  width: 120px;
  margin-top: 30px;
  border-width: 0px;
}
.executive-c21-fileButtons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 10%;
}
.executive-c21-viewFileButton-style {
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 5%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.executive-c21-removeFileButton-style {
  color: black;
  font-size: 12px;
  padding: 5%;
  font-weight: bold;
  background-color: lightcoral;
  border-radius: 3px;
  margin-left: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #02334d;
  border-radius: 4px;
}
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #02334d;
  border-radius: 4px;
}
label {
  font-weight: 700;
  font-size: 18px;
}
.executive-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 22px;
  color: #02334d;
}
