.popup-mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-subContainer {
  position: relative;
  border-radius: 10px;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}
.closeButton-style {
  background-color: #02334d;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  top: 16px;
  right: 16px;
}
.heading-style {
  color: #02334d;
  font-size: 22px;
  font-weight: bold;
}
.label-style {
  color: black;
  font-size: 15px;
  font-weight: 700;
}
.input-style {
  color: black;
  font-weight: 600;
  padding: 1%;
  width: 50%;
  background-color: aliceblue;
  border-radius: 5px;
  margin-left: 3%;
  border-width: 1px;
  border-color: #02334d;
  border-style: solid;
}
.assignButton-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.assignButton-style {
  color: #02334d;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  margin-top: 6%;
}
.c44-fileButton-style {
  color: black;
  font-size: 13px;
  font-weight: 550;
}
::-webkit-file-upload-button {
  color: black;
  background-color: #d7d7d9;
  border-width: 0;
  border-radius: 5px;
  padding: 4%;
  font-weight: bold;
  font-size: 15px;
}
.c44-fileButtons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10%;
}
.c44-viewFileButton-style {
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 5%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.c44-removeFileButton-style {
  color: black;
  font-size: 12px;
  padding: 5%;
  font-weight: bold;
  background-color: lightcoral;
  border-radius: 3px;
  margin-left: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
