.table-bg{
    background-color: #e2e0e0;
    padding: 30px 10px;
    border-radius: 10px;
    border: 1px solid #747373;
}

.table-wrapper{
    margin: 5px 10px 20px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.programs-table{
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    border-collapse: collapse;
    width: 90%;    
    background-color: white;
}

.programs-table td, .programs-table th {
    padding: 4px;
}

.programs-table td {
    border-right: 1px solid #cfcfcf;
    
}

.programs-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.programs-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.programs-table tr:nth-child(even) {
    background: #e9e7e7;
    border-bottom: 1px solid #cfcfcf;
}


#buttons-div{
    margin: 5px;
    float:right;
}

@media (max-width: 767px) {
    .programs-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .programs-table thead, .programs-table tbody, .programs-table thead th {
        display: block;
    }
    .programs-table thead th:last-child{
        border-bottom: none;
    }
    .programs-table thead {
        float: left;
    }
    .programs-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .programs-table td, .programs-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .programs-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .programs-table tbody tr {
        display: table-cell;
    }
    .programs-table tbody tr:nth-child(odd) {
        background: none;
    }
    .programs-table tr:nth-child(even) {
        background: transparent;
    }
    .programs-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .programs-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .programs-table tbody td {
        display: block;
        text-align: center;
    }
}


@media print {
    .table-bg{
        background-color: #ffffff;
        padding: 0px;
        border-radius: 10px;
        border: 0;
    }
    .table-wrapper{
        box-shadow: 0px;
    }
    .programs-table td {
        border: 1px solid #000000;
    }
    .programs-table thead th {
        color: #000000;
        background: #fffdfd;
    }
    .programs-table thead th:nth-child(odd) {
        color: #000000;
        background: #ffffff;
    }
    .programs-table tr:nth-child(even) {
        background: #ffffff;
    }
    #buttons-div{
        display: none;
    }
   
    
}